@charset "UTF-8";

body{
	display: flex;
    justify-content: center;
    background: black;
}

.DRE-main-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background-color: aliceblue;
	color: black;
	margin: 5%;
	padding: 2%;
	max-width: fit-content;
	border-top-left-radius: 45px;
    border-bottom-right-radius: 40px;
}

.DRE-input-contaner {
    width: 800px;
    height: 500px;
    background: linear-gradient(45deg, #30e6d0, #7de0f3);
    border-radius: 25px;
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */
    text-align: center;

}

.DRE-head-1{
	margin: 5%;
    font-family: monospace;
	font-family: monospace;
}

.DRE-RPT-TXT {
	    margin: 5%;
}

.DRE-RPT-NAME {
	width: 60%;
    padding: 2.5%;
    border-radius: 15px;
    font-family: monospace;
    font-size: 25px;
}

.DRE-Dates {
	 margin: 5%;
}

.DRE-frm-dt {
	width: 30%;
    padding: 1.5%;
    border-radius: 15px;
    font-family: monospace;
    font-size: 25px;
}

.DRE-to-dt {
	width: 30%;
    padding: 1.5%;
    border-radius: 15px;
    font-family: monospace;
    font-size: 25px;
}

.DRE-btn {
	    margin: 5%;
}

.DRE-Submit {
    padding: 2%;
    width: 60%;
    border-radius: 20px;
    background-color: white;
    font-family: sans-serif;
    font-size: 22px;
    transition: transform 0.3s ease;
}

.DRE-Submit:hover{
	 padding: 2.5%;
	 width: 60.5%;
	 border-radius: 5px;
}
